body {
    margin: 40px;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 14px;
    margin: 10px;
    padding: 10px;
}

.icon:hover {
    transform: scale(1.2,1.2);
    background-color: rgb(105, 102, 102);
    transition: 1s;
    color: cornsilk;
   
}
.imgikon, .benefits{
    text-align: center;
}

h5 {
    text-align: center;
}

.confirmation {
    display: block;
}

.icon {
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

.social-link {
    text-align: center;
    margin-top: 10px;
}
.radio-list {
    list-style-type: none;
}

.fromBehind {
    opacity: 0;
}

.fromBehind:hover{
    width: 90%;
    transform: scale(1.5,1.5);
    background-color: rgba(8, 8, 8, 0.295);
    transition: 1s;
    opacity: 1;
}

#button {
   float: right;
   clear: both;
    transition: .5s;
}

#button:hover {
    background-color: rgb(72, 73, 72);
    transform: scale(1.2,1.2);
    transition: .5s;
    color: rgb(14, 13, 13);
}

footer{
    border-top: 1px solid black;
    padding: 10px;
}